force-app/main/default/flows/Zip_Code_Screen.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>ZipCodeService</name>
        <label>Zip Code Service</label>
        <locationX>281</locationX>
        <locationY>242</locationY>
        <actionName>ZipCodeCalloutService.Get Zip Codes</actionName>
        <actionType>externalService</actionType>
        <connector>
            <targetReference>Eval_Status</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>countryCode</name>
            <value>
                <elementReference>Country_Code</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>zipCode</name>
            <value>
                <elementReference>Zip_Code</elementReference>
            </value>
        </inputParameters>
        <nameSegment>ZipCodeCalloutService.Get Zip Codes</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>59.0</apiVersion>
    <assignments>
        <name>Define_Id</name>
        <label>Define Id</label>
        <locationX>578</locationX>
        <locationY>890</locationY>
        <assignmentItems>
            <assignToReference>ZipCodeData.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetZipCodes.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Zip_Code</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Define_Zip_Code</name>
        <label>Define Zip Code</label>
        <locationX>710</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>ZipCodeData.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ZipCodeService.2XX.postx20code</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ZipCodeData.Country__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ZipCodeService.2XX.countryx20abbreviation</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Eval_Zip_Code_Record</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Eval_Country_Code</name>
        <label>Eval Country Code</label>
        <locationX>512</locationX>
        <locationY>458</locationY>
        <defaultConnector>
            <targetReference>GetZipCodes</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Non-US</defaultConnectorLabel>
        <rules>
            <name>US</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ZipCodeService.2XX.countryx20abbreviation</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>US</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>US_Zip_Code</targetReference>
            </connector>
            <label>US</label>
        </rules>
    </decisions>
    <decisions>
        <name>Eval_Status</name>
        <label>Eval Status</label>
        <locationX>281</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <targetReference>Eval_Country_Code</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Response OK</defaultConnectorLabel>
        <rules>
            <name>Failed_Request</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ZipCodeService.responseCode</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <numberValue>200.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ErrorStatus</targetReference>
            </connector>
            <label>Failed Request</label>
        </rules>
    </decisions>
    <decisions>
        <name>Eval_Zip_Code_Record</name>
        <label>Eval Zip Code Record</label>
        <locationX>710</locationX>
        <locationY>782</locationY>
        <defaultConnector>
            <targetReference>Create_Zip_Code</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Zip Code not found</defaultConnectorLabel>
        <rules>
            <name>Exist_Zip_Code</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetZipCodes.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Define_Id</targetReference>
            </connector>
            <label>Zip Code found</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>CountryCode</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Country__c</picklistField>
        <picklistObject>Zip_Code__c</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <interviewLabel>Zip Code Screen {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Zip Code Screen</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Zip_Code</name>
        <label>Create Zip Code</label>
        <locationX>842</locationX>
        <locationY>890</locationY>
        <connector>
            <targetReference>Final_Screen</targetReference>
        </connector>
        <inputReference>ZipCodeData</inputReference>
    </recordCreates>
    <recordLookups>
        <name>GetZipCodes</name>
        <label>GetZipCodes</label>
        <locationX>710</locationX>
        <locationY>566</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Define_Zip_Code</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ZipCodeService.2XX.postx20code</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Zip_Code__c</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Zip_Code</name>
        <label>Update Zip Code</label>
        <locationX>578</locationX>
        <locationY>998</locationY>
        <connector>
            <targetReference>Final_Screen</targetReference>
        </connector>
        <inputReference>ZipCodeData</inputReference>
    </recordUpdates>
    <screens>
        <name>ErrorStatus</name>
        <label>ErrorStatus</label>
        <locationX>50</locationX>
        <locationY>458</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>ErrorMessage</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 24px;&quot;&gt;The service is not available&lt;/strong&gt;&lt;strong style=&quot;font-size: 24px; color: rgb(0, 0, 0);&quot;&gt;&lt;span class=&quot;ql-cursor&quot;&gt;﻿&lt;/span&gt;&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Final_Screen</name>
        <label>Final Screen</label>
        <locationX>710</locationX>
        <locationY>1190</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>FinalMessage</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 18px;&quot;&gt;Zip code record has been created/updated&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>US_Zip_Code</name>
        <label>US Zip Code</label>
        <locationX>314</locationX>
        <locationY>566</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>PostCode</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;Post Code: &lt;/strong&gt;{!ZipCodeService.2XX.postx20code}&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Country: &lt;/strong&gt;{!ZipCodeService.2XX.country}&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Country Abbreviation: &lt;/strong&gt;{!ZipCodeService.2XX.countryx20abbreviation}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Places</name>
            <fieldText>Places</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Places_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>PlacesData</name>
                    <fieldText>&lt;p&gt;{!ZipCodeService.2XX.places}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Zip_Code_Screen</name>
        <label>Zip Code Screen</label>
        <locationX>281</locationX>
        <locationY>134</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>ZipCodeService</targetReference>
        </connector>
        <fields>
            <name>Country_Code</name>
            <choiceReferences>CountryCode</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Country Code</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Zip_Code</name>
            <dataType>String</dataType>
            <fieldText>Zip Code</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>155</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Zip_Code_Screen</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>ZipCodeData</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Zip_Code__c</objectType>
    </variables>
</Flow>
